In [1]:
import requests

# URL of the file to be downloaded
url = "http://data.insideairbnb.com/united-kingdom/england/london/2023-09-06/visualisations/listings.csv"

# Sending a GET request to the URL
response = requests.get(url)

# Checking if the request was successful
if response.status_code == 200:
    # Writing the content of the response to a file
    with open('listings.csv', 'wb') as file:
        file.write(response.content)
    message = "File downloaded successfully."
else:
    message = "Failed to download the file. Status code: {}".format(response.status_code)

message

'File downloaded successfully.'

In [4]:
import pandas as pd
DF = pd.read_csv("listings.csv", low_memory=False)

In [5]:
DF

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13913,Rental unit in Islington · ★4.80 · 1 bedroom ·...,54730,Alina,NaN,Islington,51.568610,-0.112700,Private room,79,1,41,2022-12-11,0.26,2,360,11,NaN
1,15400,Rental unit in London · ★4.80 · 1 bedroom · 1 ...,60302,Philippa,NaN,Kensington and Chelsea,51.487800,-0.168130,Entire home/apt,150,7,94,2023-05-01,0.56,1,73,5,NaN
2,92644,Rental unit in Earlsfield · ★4.57 · 1 bedroom ...,498201,Dee Dee,NaN,Wandsworth,51.442010,-0.187390,Private room,42,2,216,2022-10-29,1.45,1,217,9,NaN
3,17402,Rental unit in London · ★4.76 · 3 bedrooms · 3...,67564,Liz,NaN,Westminster,51.521950,-0.140940,Entire home/apt,476,3,54,2022-11-19,0.36,9,300,4,NaN
4,93015,Rental unit in Hammersmith · ★4.82 · 2 bedroom...,499704,Sarah,NaN,Hammersmith and Fulham,51.499930,-0.217070,Entire home/apt,175,5,38,2022-09-30,0.27,1,40,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87942,973781286754517228,Rental unit in Greater London · ★New · 1 bedro...,498408783,Sal,NaN,Westminster,51.514860,-0.135980,Entire home/apt,275,2,0,NaN,NaN,2,239,0,NaN
87943,973801695874775338,Rental unit in Greater London · ★New · 1 bedro...,36645347,Josie,NaN,Southwark,51.459042,-0.055458,Entire home/apt,145,3,0,NaN,NaN,1,88,0,NaN
87944,973811685656289740,Home in Greater London · ★New · 1 bedroom · 5 ...,340514057,Mal,NaN,Merton,51.406100,-0.236126,Private room,160,1,0,NaN,NaN,1,80,0,NaN
87945,973882998775927897,Home in Greater London · ★New · 5 bedrooms · 5...,439074505,Travelnest,NaN,Hounslow,51.450997,-0.444319,Entire home/apt,680,1,0,NaN,NaN,170,364,0,NaN
87946,973895808066047620,Rental unit in Greater London · ★New · 2 bedro...,475112423,Lea,NaN,City of London,51.515970,-0.111342,Entire home/apt,170,1,0,NaN,NaN,6,297,0,NaN